<h1>Welcome to our <span>TEA</span> education Center</h1>
<p>If you’re new to tea, the many different types and varieties of tea can seem confusing and overwhelming. What exactly is the difference between black tea and green tea? What about herbal tea and rooibos? Can you tell your whites from your oolongs, your purples from your pu-erhs?

  Here in <span>tea education center</span> we carry almost a hundred different kinds of tea, so we know a thing or two about breaking tea down into more manageable, easy to understand categories. We love guiding people through their tea journey, whether they’re new to tea or are experienced tea drinkers. Our handy guide to types of tea can help beginners and experts alike learn more about the world of tea!</p>

</div>

<div class="col-sm-4">
  <h2>Camellia Sinensis Plant:</h2>
  <p>All types of “true” tea actually originate from the same plant. The botanical name for the tea plant is <span>camellia sinensis</span>. This plant originated in southern China thousands of years ago, and has been cultivated and consumed for hundreds of years. Camellia sinensis has two main varietals: camellia sinensis var. sinensis, which grows primarily in China and other East Asian countries and has a milder, mellower character, and camellia sinensis var. assamica, which grows primarily in India and is generally heartier and more robust.</p>
</div>
</div>


<a href="/teas"> Go To Tea Page🌿</a>



<style>
 body {
  background-color: rgba(188, 236, 221, 0.863);
  margin: 10%;
}

h1 {
  font-family:verdana;
  color: rgb(18, 94, 61);
  text-align: center;
  text-decoration: overline
}

h2{
  font-family:verdana;
  color: rgb(18, 94, 61);
  font-style: italic;
  text-decoration: underline;
  
}

p {
  font-family: verdana;
  font-size: 20px;
}

a {
  font-size: 17px;
  color: rgb(107, 121, 116);
  font-weight: bold;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: underline;
}

</style>