<h1>Welcome to our <span>TEA</span> education Center</h1>
<h2>With  tea knowledge and discoveries unveiling themselves each day, the journey into the world of tea is an exciting and limitless adventure with room for us all to explore, connect and interact.</h2>
</div>
<div class="col-sm-4">
  <h2>About</h2>
  <p>In our TEA education () We are so honored to have you as a part of our community. We believe that we are here to impact as many lives as we can through tea so thank you for being a part of that journey!</p>
</div>
</div>


<a href="/teas"> Go To Tea Page</a>