
<ul>
    <!-- the key defined in(teas.js).forEach((anyName)=>{}) -->
    <% tea.forEach((tea)=>{ %>
       <a href="/teas/<%=tea.id%>"> <li>
            <%=tea.type %>
        </li>
    </a>
    
    <% }) %>
</ul> 