<!-- ADDED a new type of tea by the user -->


<!-- <h1>Create a new post</h1>

<form action="/teas" method="POST">
  <div class="form-group">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" name="type" required>
  </div>

  <div class="form-group">
    <label for="source">Source</label>
    <textarea type="text" class="form-control" id="content" name="source" required></textarea>
  </div>

  <div class="form-group">
    <label for="varities">Varities</label>
    <input type="text" class="form-control" id="type" name="varities" required>
  </div>

  <div class="form-group">
    <label for="advantages">Advantages</label>
    <input type="text" class="form-control" id="type" name="advantages" required>
  </div>

  <div class="form-group">
    <label for="color">Color</label>
    <input type="text" class="form-control" id="type" name="color" required>
  </div>

  <div class="form-group">
    <label for="origin">Origin</label>
    <input type="text" class="form-control" id="type" name="origin" required>
  </div>

  <div class="form-group">
    <label for="user">User</label>
    <input type="text" class="form-control" id="type" name="Name" required>
  </div>

  <input type="submit" class="btn btn-primary">
</form> -->
