<h2>Hello, <%= user.email%> :)</h2>

<style>

h2 {
    font-family:verdana;
    font-size: 15px;
    color: rgb(21, 160, 21);
    padding: 10px;
    text-align: justify;
    font-style: italic;
}


</style>